body {
    font-family: 'Lucida Console';
    color: white;
    background-color: #333;
}

.navbar {
    width: 98%;
}

* {
    box-sizing: border-box;
}

header {
    background-color: red;
    height: 90px;
    padding: 10px 0;
    border: 1px black solid;
    border-radius: 3px;
}

.logo {
    width: 150px;
    margin-top: -10px;
}

.logo img {
    width: 100px;
    margin-top: 15px;
    margin-left: 1vw;
}

nav {
    width: 98%;
    margin: 0 auto;
    display: flex;
}

.drop {
    margin: 0px 10px;
    padding-right: 35px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.drop:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
}

.dropmenu ul {
    background-color: red;
    border: 1px solid black;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: none;
}

.dropmenu:hover ul {
    display: block;
    position: absolute;
    margin-top: 124px;
    padding-right: 50px;
    padding-left: 50px;
}

.dropmenu ul li {
    list-style: none;
    display: flex;
}

.dropmenu ul li a {
    width: 70px;
    display: block;
    padding: 5px 10px;
}

.dropmenu ul li a:hover {
    color: black;
}

a:hover {
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #333;
}

.home {
    display: flex;
    margin-left: 20px;
}

.welkomtekst {
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lucida Console';
}

#projectenbox {
    height: 80px;
    width: 200px;
    background-color: red;
    display: flex;
    border: 1px black solid;
    border-radius: 3px;
    margin-top: 50px;
    padding-left: 20px;
    font-family: "Lucida Console";
    padding-bottom: 25px;
    color: white;
}

h2 {
    font-family: "Lucida Console";
    cursor: pointer;
}

h2:hover {
    color: black;
}

h4:hover {
    color: black;
}

a {
    color: #fff;
}

p {
    font-family: "Lucida Console";
    color: white;
}

p:hover {
    color: black;
}

#copyright {
    display: flex;
    font-family: "Lucida Console";
    color: white;
    justify-content: center;
}

#projectboxen {
    height: 525px;
    font-family: "Lucida Console";
    margin-bottom: 50px;
    margin-left: 10px;
}

#overmijtekst {
    height: 10vw;
    margin-left: 15px;
    margin-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: "Lucida Console";
    color: white;
}

.tijd {
    width: 30vw;
    margin-top: 10px;
    padding-left: 15px;
    background-color: red;
    border: 1px black solid;
    border-radius: 3px;
}

#dezewebsitetekst {
    height: 71vh;
    width: 40vw;
    padding-top: 20px;
    color: white;
    font-family: 'Lucida Console';
}

.dezewebsitevoorbeeld {
    padding-top: 50px;
}

#terug {
    margin-top: 50px;
    font-family: "Lucida Console";
    background-color: red;
    width: 90px;
    height: 40px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px black solid;
}

#foto {
    height: 285px;
    width: 285px;
    background-color: red;
    padding-top: 15px;
    padding-left: 15px;
    border: 2px black solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

#contact {
    height: 100px;
    width: 320px;
    background-color: red;
    border: 2px black solid;
    border-radius: 5px;
    color: white;
    padding-left: 15px;
    font-family: "Lucida Console";
    padding-top: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

#socials {
    height: 130px;
    width: 275px;
    background-color: red;
    border: 2px black solid;
    border-radius: 5px;
    padding: auto;
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 10px;
    margin-left: 10px;
}

.taal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 3%;
}

#overmijbox {
    height: 750px;
}

@media only screen and (max-width: 800px) {
    .logo {
        display: none;
    }
    .taal {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 10%;
    }
    #foto {
        height: 285px;
        width: 285px;
        background-color: red;
        padding-top: 15px;
        padding-left: 15px;
        border: 2px black solid;
        border-radius: 5px;
        margin-top: 120px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .logo {
        display: flex;
        justify-content: center;
    }
    #foto {
        height: 285px;
        width: 285px;
        background-color: red;
        padding-top: 15px;
        padding-left: 15px;
        border: 2px black solid;
        border-radius: 5px;
        margin-top: 150px;
        margin-left: 10px;
    }
    .navbar {
        width: 98%;
        display: flex;
        flex-direction: column;
        height: 200px;
    }
    nav {
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40%;
    }
    header {
        height: 310px;
        border-radius: 5px;
        width: 90%;
        display: flex;
        margin: auto;
    }
    .dropmenu ul li a {
        display: none;
    }
    .dropmenu {
        display: flex;
        justify-content: center;
    }
    .home {
        margin-right: 25px;
    }
    .taal {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 330px) {
    .taal {
        margin-right: 30px;
    }
    #foto {
        height: 285px;
        width: 285px;
        background-color: red;
        padding-top: 15px;
        padding-left: 15px;
        border: 2px black solid;
        border-radius: 5px;
        margin-top: 200px;
        margin-left: 10px;
    }
}