div {
    color: white;
}

a:hover {
    color: cornflowerblue;
}

a {
    text-decoration: none;
    color: white;
}

#navbar {
    margin: auto;
    height: 10%;
    width: 100%;
    display: flex;
    background-color: #4a5568;
    display: flex;
    border: 2px black solid;
    border-radius: 20px;
    font-family: "Lucida Console";
}

body {
    background-color: #2d3748;
}

#home {
    width: 40px;
    display: flex;
    margin: auto;
}

#overmij {
    display: flex;
    margin: auto;
}

#projecten {
    width: 100px;
    display: flex;
    margin: auto;
}

#logo {
    width: 30px;
    display: flex;
    margin: 25px;
    justify-self: flex-start;
}

#item {
    height: 50%;
    width: 100%;
    display: flex;
    color: #2d3748;
}

#tekstwelkom {
    display: flex;
}

.typen {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-demo {
    width: 42%;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: white;
    font-family: "Lucida Console";
}

#projectenbox {
    height: 100px;
    width: 500px;
    background-color: #4a5568;
    display: flex;
    border: 2px black solid;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 20px;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

h4 {
    color: white;
    font-family: "Lucida Console";
    background-color: #4a5568;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "Lucida Console";
}

h1 {
    color: white;
}

a {
    color: #fff;
}

nav {
    margin: auto;
    height: 60px;
    width: 60%;
    display: flex;
    background-color: #4a5568;
    display: flex;
    border-radius: 20px;
    font-family: "Lucida Console";
}

nav ul {
    padding: 0;
    margin: -15px;
    list-style: none;
    position: relative;
}

nav a {
    width: 200px;
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav ul ul {
    visibility: hidden;
    position: absolute;
    top: 60px;
    width: 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

nav ul li:hover>ul {
    visibility: visible;
    opacity: 1;
}


/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 100px;
    float: none;
    display: block;
    position: relative;
}

li :hover {
    color: cornflowerblue;
}
