a:hover {
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

#navbar {
    margin: auto;
    height: 10%;
    width: 98%;
    display: flex;
    background-color: red;
    display: flex;
    border: 5px solid rgb(233, 61, 61);
    border-radius: 20px;
    font-family: "Lucida Console";
    border-style: groove;
}

body {
    background-color: #333;
}

#home {
    display: flex;
    margin: auto;
}

#overmij {
    display: flex;
    margin: auto;
}

#projecten {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 30px;
    display: flex;
    margin: 25px;
    justify-self: flex-start;
}

#tekstwelkom {
    display: flex;
}

.typen {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-demo {
    width: 42vw;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: white;
    font-family: "Lucida Console";
}

.typing-demo1 {
    width: 40%;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: white;
    font-family: "Lucida Console";
}

#projectenbox {
    height: 40px;
    width: 200px;
    background-color: red;
    display: flex;
    border: 2px black solid;
    border-radius: 5px;
    margin-top: 50px;
    padding-left: 20px;
    font-family: "Lucida Console";
    padding-bottom: 25px;
    color: white;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

h4 {
    color: white;
    font-family: "Lucida Console";
    background-color: red;
    border: 5px solid rgb(233, 61, 61);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border-style: groove;
}

h2 {
    font-family: "Lucida Console";
}

h2:hover {
    color: black;
}

h1 {
    color: black;
}

h4:hover {
    color: black;
}

a {
    color: #fff;
}

nav {
    margin: auto;
    height: 60px;
    width: 60%;
    display: flex;
    background-color: red;
    display: flex;
    border-radius: 20px;
    font-family: "Lucida Console";
}

nav ul {
    padding: 0;
    margin: -15px;
    list-style: none;
    position: relative;
}

nav a {
    width: 200px;
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav ul ul {
    visibility: hidden;
    position: absolute;
    top: 60px;
    width: 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

nav ul li:hover>ul {
    visibility: visible;
    opacity: 1;
}


/* First Tier Dropdown */

nav ul ul li {
    width: 100px;
    float: none;
    display: block;
    position: relative;
}

li :hover {
    color: black;
}

p {
    font-family: "Lucida Console";
    color: white;
}

p:hover {
    color: black;
}

#copyright {
    display: flex;
    font-family: "Lucida Console";
    color: white;
    justify-content: center;
}

#projectboxen {
    height: 575px;
    font-family: "Lucida Console";
    padding-left: 42vw;
    padding-top: 5vh;
}

#overmijbox {
    width: 500px;
    height: 750px;
}

#overmijtekst {
    height: 10vw;
    width: 30vw;
    margin-left: 15px;
    margin-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: "Lucida Console";
    color: white;
}

#dezewebsitetekst {
    height: 510px;
}

#terug {
    margin-top: 50px;
    font-family: "Lucida Console";
    background-color: red;
    width: 90px;
    height: 40px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px black solid;
}

#foto {
    height: 265px;
    width: 265px;
    margin-left: 70vw;
    background-color: red;
    padding-top: 15px;
    padding-left: 15px;
    border: 2px black solid;
    border-radius: 5px;
}

#contact {
    height: 100px;
    width: 320px;
    background-color: red;
    border: 2px black solid;
    border-radius: 5px;
    color: white;
    padding-left: 15px;
    font-family: "Lucida Console";
    padding-top: 15px;
    margin-left: 15px;
}

#socials {
    height: 120px;
    width: 275px;
    background-color: red;
    border: 2px black solid;
    border-radius: 5px;
    margin-left: 70vw;
    padding: auto;
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#taal {
    margin-right: 20px;
    margin-top: 15px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    #navbar {
        margin: auto;
        height: 10%;
        width: 98%;
        display: flex;
        background-color: red;
        font-family: "Lucida Console";
    }
    #logo {
        display: none;
    }
    .typen {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .typing-demo {
        display: none;
    }
    #projectboxen {
        height: 575px;
        font-family: "Lucida Console";
        padding-left: 30vw;
        padding-top: 5vh;
    }
    #projectboxen {
        height: 575px;
        font-family: "Lucida Console";
        padding-left: 30vw;
        padding-top: 5vh;
    }
}