@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    color: black;

}

body {
    font-family: "Poppins", sans-serif;
    color: #1d1d20;
    height: 100%;
    width: 100%;
    background-color: #d0f3b5;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.slides-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide .centered {
    width: 60%;
    margin: 200px auto 0;
}

.slide .centered h1 {
    text-align: center;
}

.slide .centered p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.go-prev, .go-next {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

/* Scroll Bar Style */
::-webkit-scrollbar {
    background: none;
    width: 16px;
    height: 16px;
}
::-webkit-scrollbar-thumb {
    border: solid 0 rgb(0 0 0 / 0%);
    border-right-width: 4px;
    border-left-width: 4px;
    -webkit-border-radius: 9px 4px;
    -webkit-box-shadow: inset 0 0 0 1px hsl(94, 72%, 83%), inset 0 0 0 4px hsl(94, 72%, 83%);
}
::-webkit-scrollbar-track-piece {
    margin: 4px 0;
}
::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 4px;
    border-bottom-width: 4px;
    -webkit-border-radius: 4px 9px;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow:
        inset 0 0 0 1px hsl(212, 92%, 43%),
        inset 0 0 0 4px hsl(212, 92%, 43%);
}
::-webkit-scrollbar-corner {
    background: transparent;
}
/* End Scroll Bar Style */

/* ///////////..utility classes../////////// */

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
}

.btn-primary {
    color: #fff;
    background: #16a083;
}

.btn-primary:hover {
    background: #117964;
    transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    position: fixed;
    width: 100%;
    background: #d0f3b6;
    color: #000;
    height: 50px;
    z-index: 12;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;
}

.logo {
    order: 1;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
}

/* ............//// Showcase styling ////......... */

.showcase-area {
    height: 50vh;
    background: linear-gradient(
        rgba(240, 240, 240, 0.144),
        rgba(255, 255, 255, 0.336)
    ),
    url("/images/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}

.main-title {
    text-transform: uppercase;
    margin-top: 1.5em;
}

/* ......//about us//...... */

#about {
    padding: 50px 0;
    background: #f5f5f7;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#about h2 {
    font-size: 2.3rem;
}

#about p {
    font-size: 1.2rem;
    color: #555;
}

#about .small {
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
}

.about-img {
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
    100% {
        transform: translate(0);
    }
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
    100% {
        transform: translate(0);
    }
}

.about-img img {
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

/* ..........////Food category///........... */

#project {
    padding: 5rem 0 10rem 0;
}

#project h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}

.project-container {
    display: flex;
    justify-content: space-between;
}

.project-container img {
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.img-container {
    margin: 0 1rem;
    position: relative;
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
    color: #fff;
    font-size: 2.2rem;
}

.img-content a {
    font-size: 1.2rem;
}

.img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;

    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
}

.img-container:hover .img-content {
    opacity: 1;
    top: 40%;
}

/* .........../Food Menu/............ */

.food-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    color: #666;
}

.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}

.food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.food-description {
    margin: auto 1.5rem;
}

.font-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #444;
}

.food-description p {
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
}

.food-description .food-price {
    color: #117964;
    font-weight: 700;
}

/* ........./ Testimonial /.......... */

#testimonials {
    padding: 5rem 0;
    background: rgba(243, 243, 243);
}

.about-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
    color: #555;
}

.testimonial-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 1rem;
}

.testimonial-box .checked {
    color: #ff9529;
}

.testimonial-box .testimonial-text {
    margin: 1rem 0;
    color: #444;
}

.testimonial-box {
    text-align: center;
    padding: 1rem;
}

.customer-photo img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}

/* ........ Contact Us........... */

#contact {
    padding: 5rem 0;
    background: rgb(226, 226, 226);
}

.contact-container {
    display: flex;
    background: #fff;
}

.contact-img {
    width: 50%;
}

.contact-img img {
    display: block;
    height: 400px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.form-container {
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.form-container input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
}

.form-container textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    color: #444;
    outline: none;
    padding: 1rem 0;
    resize: none;
}

.form-container h2 {
    font-size: 2.7rem;
    font-weight: 500;
    color: #444;
    margin-bottom: 1rem;
    margin-top: -1.2rem;
}

.form-container a {
    font-size: 1.3rem;
}

#footer h2 {
    text-align: center;
    font-size: 1.8rem;
    padding: 2.6rem;
    font-weight: 500;
    color: #fff;
    background: rgb(65, 65, 65);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ......../ media query /.......... */

@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
    }

    /* ......./ food /......... */

    .food-container {
        flex-direction: column;
        align-items: stretch;
    }

    .project-type:not(:last-child) {
        margin-bottom: 3rem;
    }

    .project-type {
        box-shadow: 5px 5px 10px 0 #aaa;
    }

    .img-container {
        margin: 0;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 65%;
    }

    .navbar .menu-items li{
        font-size: 1.6rem;
    }

    .testimonial-container {
        flex-direction: column;
        text-align: center;
    }

    .food-menu-container img {
        margin: auto;
    }

    .food-menu-item {
        flex-direction: column;
        text-align: center;
    }

    .form-container {
        width: 90%;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .contact-img {
        width: 90%;
        margin: 3rem auto;
    }

    .logo {
        position: absolute;
        top: 06px;
        right: 15px;
        font-size: 3rem;
    }

    .navbar .menu-items li {
        margin-bottom: 2.5rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .img-container h3 {
        font-size: 1.5rem;
    }

    .img-container .btn {
        font-size: 0.7rem;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .showcase-area {
        height: 50vmax;
    }
}
